@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Desctop Navbar */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.Posts {
    flex: 30% 1;
    height: 100vh;

}

.more-deatils {
    flex: 1%;
    background-color: whitesmoke;
    border: 10px;
}

.sidebar {
    height: 100vh;
    background-color: gainsboro;
    flex: 10%;
    position: fixed;
    width: 200px;
}

.profile {
    margin: 20px;
    margin-top: 40px;
}

.profile img {
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-top: 80px;
}

.head img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.detials li {
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    font-family: sans-serif;
}

.detials li:hover {
    background-color: lightblue;
}

.detials i {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
}

/* End desctop navbar */
.sm-navbar {
    padding: 10px 20px;
    display: flex;
    width: 90% auto;
}

.sm-navbar ul {
    flex: 1;
    text-align: right;
}

.logo {
    display: none;
}

.mobile-list {
    color: white;
    display: none;
}

.settings {
    display: none;
}

.icon-logo {
    display: none;
}

.explore {
    display: none;
}

.post-body {
    height: fit-content;
    width: 60vh;
    border: 1px solid #1E83A4;
    margin: 50px auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
}

.user-data p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.date-time {
    text-align: end;
}

@media only screen and (max-width:800px) {
    .more-deatils {
        display: none;
    }

    .date-time {
        text-align: end;
        justify-content: end;
        position: relative;
        margin-top: 5px;
    }
    .user-data{
        width: 100%;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .post-body {
        height: fit-content;
        width: 40vh;
        border: 1px solid #1E83A4;
        margin: auto;
        margin-top: 40px;
        border-radius: 10px;
        background-color: whitesmoke;
        padding: 10px;
        display: flex;
    }
    .date-time{
        font-size: 12px;
        font-family: sans-serif;
    }

    .explore {
        display: flex;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .foryou-btn {
        padding: 5px;
        border-radius: 20px;
        outline: none;
        border: none;
        font-size: 0.9rem;
        background-color: hsl(195, 83%, 16%);
        color: whitesmoke;
    }

    .explore-btn {
        padding: 5px;
        width: 150px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: #1E83A4;
        color: whitesmoke;
    }

    .sm-navbar {
        display: flex;
        justify-content: center;
        position: fixed;
        color: #073B4C;
        position: fixed;
        left: 0;
        background-color: #E1EBEF;
        width: 100%;
        transition: 0.3s;
        padding: 0px;
        right: 0;
        margin: 0;
    }

    .logo {
        text-align: center;
        margin: auto;
        font-family: sans-serif;
        display: flex;
    }

    .navbar h3 {
        color: #073B4C;
    }

    .navbar-desctop {
        display: none;
        background-color: #fff;
    }

    .mobile-list {
        display: flex;
        bottom: 0;
        justify-content: center;
        position: fixed;
        color: #073B4C;
        position: fixed;
        left: 0;
        background-color: #E1EBEF;
        width: 100%;
        transition: 0.3s;
        padding: 0;
        right: 0;
        margin: 0;
    }

    .mobile-list li i {
        font-size: 30px;
        background: none;
        margin: 0 10px;
        padding: 0;
        color: #073B4C;
    }

    .mobile-list li {
        margin: 0 15px 0;
    }

    .mobile-list li svg {
        width: 40px;
        height: 40px;
        stroke: #164757;
        fill: none;
        padding: 10px;
        cursor: pointer;
    }

    .settings {
        display: flex;
        background: none;
        color: #073B4C;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        cursor: pointer;
        justify-content: flex-end;
    }

    .icon-logo {
        display: flex;
        flex: 1;
        margin-top: 6px;
    }

    .icon-logo img {
        border-radius: 3rem;
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin: 5px;
    }

    .navbar ul li {
        display: inline;
        padding: 0;
        font-size: 18px;
        font-family: sans-serif;
    }

    .container {
        display: flex;
        height: 0;
    }

    .Posts {
        margin-top: 70px;
    }

    .sidebar {
        display: none;
    }
}