
@media only screen and (max-width:800px) {
    .writer-wrapper h1{
        font-family: sans-serif;
        font-weight: 500;
        padding: 10px;
    }
    .writer-wrapper{
        margin: 30px ;
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        background-color: lightblue;
        padding: 20px;
        border-radius: 20px;
    }
    .writer-wrapper textarea {
        width: 38ch;
        height: 100px;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        margin-top: 10px;
        font-family: sans-serif;
    }
    .writer-image{
        height:130px;
        width: 50%;
        padding: 30px;
        border-radius: 50px;
    }
    .writer-wrapper h1{
        font-size: 30px;
        font-family: sans-serif;
    }
    .submit-button{
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: orange;
        color: whitesmoke;
        width: 50%;
    }
}
