@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:ital,wght@0,500;1,500&display=swap');

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.content h2 {
    font-size: 34px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.getstarted {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black !important;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #333;
}


/*------Video Add checyyan--*/
.banner {
    height: 400px;
    width: auto;
}

.feature {
    height: 400px;
    width: auto;
}

@media(max-width:400px) {
    .banner {
        height: 500px;
        width: auto;
    }
}

@media(max-width:800px) {
    .banner {
        height: 500px;
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        height: 580px;
        width: auto;
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        height: 400px;
        width: auto;
    }
}




/*-----Feature------*/


.card{
    margin: auto;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}
.card-time{
    text-align: end;
    font-size: 12px;
}
/*-----End Feature------*/



